{% extends "index.html" %}

{% block script_block %}
    {{block.super}}
    <script>
        var roll_id = "{{ roll.id }}";
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '#addRow', function () {
               $.ajax({
                   type: "POST",
                   url: "/add_pack/"+ roll_id + "/",
                   data: {
                       'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                   },
                   success: function(response){
                       $('#packTable').load(window.location.href + ' #packTable');
                   }
               });

           });
        });

    </script>

{% endblock %}

{% block block_content %}
    {% csrf_token %}
    <div class="pmd-card pmd-z-depth pmd-card-custom-view">
       <div class="table-responsive">
           <p>Номер рулона {{ roll.number }}</p>
           <p>Производитель {{ roll.producer }}</p>
       </div>
    </div>
    <div class="table-pmd-card pmd-z-depth pmd-card-custom-view" style="background-color: white">
        <table class="table pmd-table table-hover" id="packTable">
            <tbody>
                {% for pack in packs %}
                    <tr>
                        <th style="width: 10%"></th>
                        <th>Номер {{ pack.number }}</th>
                        <th style="width: 10%">
                            <a href="{% url 'delete_pack' pack_id=pack.id roll_id=roll.id %}" class="btn pmd-btn-outline pmd-ripple-effect btn-danger btn-xs">Удалить</a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button id="addRow" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger pull-right" style="margin-top: 5px"
            type="button"><i class="material-icons pmd-sm">add</i>
    </button>


{% endblock %}