{% extends "index.html" %}

{% block block_title %}
    Рулоны в наличии
{% endblock %}

{% block block_breadcrumb %}Рулоны{% endblock %}

{% block block_content %}
{#    <a href="{% url 'create_roll'%}" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger"></a>#}

    <button data-target="#form-dialog" data-toggle="modal" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger pull-right" type="button"><i class="material-icons pmd-sm">add</i></button>
    <div tabindex="-1" class="modal fade" id="form-dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bordered">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h2 class="pmd-card-title-text">Добавить рулон</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="{{ form.producer.id_for_label }}">{{ form.producer.label }}</label>
                            {{ form.producer  }}
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="{{ form.size.id_for_label }}">{{ form.batch.label }}</label>
                            {{ form.batch  }}
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="{{ form.size.id_for_label }}">{{ form.number.label }}</label>
                            {{ form.number  }}
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="{{ form.size.id_for_label }}">{{ form.size.label }}</label>
                            {{ form.size  }}
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="{{ form.coating.id_for_label }}">{{ form.coating.label }}</label>
                            {{ form.coating  }}
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="{{ form.hardness.id_for_label }}">{{ form.hardness.label }}</label>
                            {{ form.hardness  }}
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="{{ form.net.id_for_label }}">{{ form.net.label }}</label>
                            {{ form.net  }}
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="{{ form.gross.id_for_label }}">{{ form.gross.label }}</label>
                            {{ form.gross  }}
                        </div>
                        <div class="pmd-modal-action">
                            <button class="btn pmd-ripple-effect btn-primary" type="submit">Создать</button>
                            <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-default" type="button">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table pmd-table table-hover">
        <thead>
            <tr>
                <th>Производитель</th>
                <th>Партия</th>
                <th>Номер рулона</th>
                <th>Размер</th>
                <th>Покрытие</th>
                <th>Твердость</th>
                <th>Нетто</th>
                <th>Брутто</th>
                <th>Состояние</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for roll in rolls %}
                <tr>
                    <td>{{roll.producer}}</td>
                    {% if roll.batch == None %}
                        <td>---</td>
                    {% else %}
                        <td>{{roll.batch}}</td>
                    {% endif %}

                    {% if roll.batch == None %}
                        <td>---</td>
                    {% else %}
                        <td>{{roll.number}}</td>
                    {% endif %}

                    <td>{{roll.size}}</td>
                    <td>{{roll.coating}}</td>
                    <td>{{roll.hardness}}</td>
                    <td>{{roll.net}}</td>
                    <td>{{roll.gross}}</td>
                    <td>{{roll.defective}}</td>
                    <td>
                        <a href="{% url 'process' roll_id=roll.id %}" class="btn pmd-btn-outline pmd-ripple-effect btn-process btn-sm">Процесс</a>
                        <a href="{% url 'delete_roll' roll_id=roll.id %}" class="btn pmd-btn-outline pmd-ripple-effect btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

